<div class="c-panel-wrapper d-flex flex-row align-items-center justify-content-start">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 bg-dark pt-2 pb-2 d-flex flex-row align-items-center justify-content-between">
        <p class="h3 text-white m-0">Anastasios Theodosiou - Blog panel</p>
        <button type="button" class="btn btn-primary">New article</button>
      </div>
      <div class="col-6 pt-2 pl-2 pr-1">
        <app-editor (onTechChange)="htmlContent=$event;"></app-editor>
      </div>
      <div class="col-6 pt-2 pl-1 pr-2">
        <div class="border bg-white d-flex flex-row align-items-center justify-content-start h1 p-1 mb-0"
          style="height: 74px;">Preview</div>
        <div class="preview-panel border bg-white" [innerHtml]="htmlContent"></div>
      </div>
    </div>
  </div>
</div>