.c-panel-wrapper{
    min-width: 100vw;
    width: 100vw;
    overflow-x: auto;

    .scrollable{
        height: 100%;
        overflow-y: auto;   
    }
    .preview-panel{
        height: 80vh;
        margin-top: 1rem;
        padding: .5rem .8rem 1rem;
        overflow-y: auto;
    }
}
.scrollable-col{
    height: calc(100vh - 68px);
    overflow-y: auto;
}