<div class="card my-4">
  <h5 class="card-header text-center font-weight-bold text-secondary">About me</h5>
  <div class="card-body">
    <div class="d-flex flex-column align-items-center text-center">
      <img src="../../../assets/images/profile.jpg" alt="profile photo" class="rounded-circle" width="150">
      <div class="mt-3">
        <h4>Anastasios Theodosiou</h4>
        <p class="text-secondary mb-1">Frontend Developer</p>
        <p class="text-muted font-size-sm">Thessaloniki, Greece, 55438</p>

        <img src="../../../assets/images//github.svg" alt="" height="28" class="mr-2">
        <img src="../../../assets/images/linkedin.svg" alt="" height="28" class="mr-2">
        <img src="../../../assets/images/twitter.svg" alt="" height="28" class="mr-2">
      </div>
    </div>
  </div>
</div>