<div class="login w-100 h-100">
  <main class="form-signin">
    <form>
      <div class="d-flex flex-row align-items-center justify-content-center">
        <img class="mb-2" src="assets/images/content.svg" alt="" width="72" height="57">
      </div>
      <h1 class="h3 mb-3 fw-normal text-center">Administrator login</h1>
      <input type="email" id="inputEmail" class="form-control mb-1" placeholder="Email address" required autofocus>
      <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">Anastasios Theodosiou &copy; 2021</p>
    </form>
  </main>
</div>