<div class="card my-4">
  <h5 class="card-header text-center font-weight-bold text-secondary">About me</h5>
  <div class="card-body">
    <div class="d-flex flex-column align-items-center text-center">
      <img src="../../../assets/images/profile.jpg" alt="profile photo" class="rounded-circle" width="150">
      <div class="mt-3">
        <h4>Anastasios Theodosiou</h4>
        <p class="text-secondary mb-1">Frontend Developer</p>
        <p class="text-muted font-size-sm">Thessaloniki, Greece, 55438</p>

        <img src="../../../assets/images//github.svg" alt="" height="28" class="mr-2">
        <img src="../../../assets/images/linkedin.svg" alt="" height="28" class="mr-2">
        <img src="../../../assets/images/twitter.svg" alt="" height="28" class="mr-2">
      </div>
    </div>
  </div>
</div>

<!-- <div class="card mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
      <h6 class="mb-0">
        <img src="../../../assets/images/website.svg" alt="" height="25">
       <small> Website</small>
      </h6>
      <span class="text-secondary">www.anastasios.theodosiou.me</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
      <h6 class="mb-0">
        <img src="../../../assets/images//github.svg" alt="" height="25">
        Github
      </h6>
      <span class="text-secondary">atheodosiou</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
      <h6 class="mb-0">
        <img src="../../../assets/images/twitter.svg" alt="" height="25">
        Twitter
      </h6>
      <span class="text-secondary">@atheodosiou91</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
      <h6 class="mb-0">
        <img src="../../../assets/images/linkedin.svg" height="25">
        Linkedin
      </h6>
      <span class="text-secondary">anastasios-theodosiou</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
      <h6 class="mb-0">
        <img src="../../../assets/images/facebook.svg" alt="" height="25">
        Facebook
      </h6>
      <span class="text-secondary">anastasiostheoodsiou</span>
    </li>
  </ul>
</div> -->