<div class="row">
  <!-- Blog Entries Column -->
  <div class="col-md-8">
    <h1 class="my-4">Page Heading
      <small>Secondary Text</small>
    </h1>
    <!-- Blog Post -->
    <app-blog-post></app-blog-post>
    <!-- Blog Post -->
    <app-blog-post></app-blog-post>
    <!-- Blog Post -->
    <app-blog-post></app-blog-post>
    <!-- Pagination -->
    <app-paginator></app-paginator>
  </div>
  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">
    <!-- Search Widget -->
    <app-search-widget></app-search-widget>
    <!-- Categories Widget -->
    <app-category-widget></app-category-widget>
    <!-- Side Widget -->
    <app-side-widget></app-side-widget>
  </div>
</div>