<app-nav-bar></app-nav-bar>
<div class="container">
  <!-- Blog Entries Column -->
  <div class="row">
    <div class="col-md-8">
      <div class="mt-4 mb-0">
        <app-blog-post *ngFor="let post of blogPosts" [blogPost]="post"></app-blog-post>
        <app-paginator></app-paginator>
      </div>
    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <app-about-me></app-about-me>
      <!-- Side Widget -->
      <app-side-widget></app-side-widget>
    </div>
  </div>
</div>
<app-footer></app-footer>