/* You can add global styles to this file, and also import other style files */
@import 'src/assets/scss/variables';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'src/assets/scss/bootswatch';

body{
    // padding-top: 71px;
}

.rounded-top{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.btn-gray{
    background-color: rgba($color: $blue, $alpha: 0.5) !important;
    color: rgba($color: $gray-300, $alpha: 0.9) !important;

    &:hover{
        background-color: rgba($color: $blue, $alpha: 0.7) !important;
        color: rgba($color: $gray-300, $alpha: 1) !important;
    }
}